* {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

body {
	background-color: gray;
	font-size: 20px;
	font-family: Arial, sans-serif;
}

button {
	font-size: 32px;
	font-weight: bold;
	padding: 30px;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	cursor: pointer;
}

.colored {
	background-color: yellow;
}

.red {
	background-color: red;
}

div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
	padding: 10px;
	border: 1px solid #ccc;
}